.top2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    color: orange;
    font-family: bold;
    font-size: 30px;
    height:100px;
}

.search_bar{
    height: 200px;
    display:flex;
    flex-direction: row;
}

.search_bar > .search_box{
    width:400px;
    height:50px;
}

form .search_bar > div {
    height:70px;
}

form .search_bar > div button {
    height:55px;
}

.extra{
    height:50px;
}
