.topMenu {
    font-weight: bold;
    height: 150px;
}

.top_ul{
    list-style-type: none;
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 500px;
    font-size: 25px;
}

.top_ul > li {
    width: 200px;
}